# Copyright (c) 2024 Bima Kharisma Wicaksana
# External Secrets Operator Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/external-secrets/external-secrets/v0.9.11/deploy/crds/bundle.yaml

# Install External Secrets Operator via Helm
helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 0.9.11
    releaseName: external-secrets
    namespace: external-secrets
    valuesInline:
      installCRDs: false
      serviceAccount:
        create: true
        name: external-secrets
        annotations:
          # Workload Identity annotation - replace with your project ID
          iam.gke.io/gcp-service-account: external-secrets@YOUR_PROJECT_ID.iam.gserviceaccount.com

      webhook:
        create: true

      certController:
        create: true

      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 128Mi
