# Copyright (c) 2024 Bima Kharisma Wicaksana
# External Secrets Operator Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
  labels:
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/component: secrets-management
