# Copyright (c) 2024 Bima Kharisma Wicaksana
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sealed-secrets

resources:
  - namespace.yaml
  - crd.yaml
  - controller.yaml
