# Copyright (c) 2024 Bima Kharisma Wicaksana
# Sealed Secrets Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: sealed-secrets
  labels:
    app.kubernetes.io/name: sealed-secrets
    app.kubernetes.io/component: controller
