# Copyright (c) 2024 Bima Kharisma Wicaksana
# ConstraintTemplate: Restrict container images to allowed registries
apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8sallowedrepos
  annotations:
    description: >-
      Requires container images to begin with a string from a specified list.
      Use this to restrict images to approved registries only.
spec:
  crd:
    spec:
      names:
        kind: K8sAllowedRepos
      validation:
        openAPIV3Schema:
          type: object
          properties:
            repos:
              type: array
              description: List of allowed image registry prefixes
              items:
                type: string
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package k8sallowedrepos

        violation[{"msg": msg}] {
          container := input_containers[_]
          not image_matches_allowed(container.image)
          msg := sprintf("Container <%v> has an invalid image repo <%v>. Allowed repos are %v", [container.name, container.image, input.parameters.repos])
        }

        image_matches_allowed(image) {
          repo := input.parameters.repos[_]
          startswith(image, repo)
        }

        input_containers[c] {
          c := input.review.object.spec.containers[_]
        }

        input_containers[c] {
          c := input.review.object.spec.initContainers[_]
        }

        input_containers[c] {
          c := input.review.object.spec.ephemeralContainers[_]
        }
