# Copyright (c) 2024 Bima Kharisma Wicaksana
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - grafana.yaml

configMapGenerator:
  - name: grafana-dashboards
    namespace: monitoring
    files:
      - ../dashboards/slo-overview.json
      - ../dashboards/service-health.json
    options:
      labels:
        app.kubernetes.io/name: grafana
        app.kubernetes.io/component: dashboards
