# Copyright (c) 2024 Bima Kharisma Wicaksana
# Gatekeeper System Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: gatekeeper-system
  labels:
    app.kubernetes.io/name: gatekeeper
    app.kubernetes.io/component: admission-controller
    control-plane: controller-manager
    gatekeeper.sh/system: "yes"
    admission.gatekeeper.sh/ignore: "no-self-managing"
